<!-- 菜单导航栏 -->
<div class="ui segment attached background-thin-yellow padding-less">
  <div class="ui container">
    <div class="ui menu border-background-less borderless stackable mobile-hide">
      <a href="#" class="ui icon button background-thin-yellow menu-button">
        <div class="page-title">
          <%= theme.title %>
        </div>
        <i class="black sidebar icon top-left"></i>
      </a>
      <a href="<%= config.root %>" class="item moblie-hide" data-path="<%= config.root %>">首页</a>
      <a href="<%- url_for('/archive') %>" class="item moblie-hide" data-path="<%- url_for('/archive/') %>">文章列表</a>
      <a href="<%- url_for('/categories') %>" class="item moblie-hide" data-path="<%- url_for('/categories/') %>">分类列表</a>
      <a href="<%- url_for('/tags') %>" class="item moblie-hide" data-path="<%- url_for('/tags/') %>">标签列表</a>
      <a href="#" class="item moblie-hide">资讯</a>
      <a href="#" class="item moblie-hide">留言</a>
      <a href="" class="ui item right moblie-hide" id="nav-search"><i class="icon search"></i></a>
    </div>
  </div>
  <!-- 搜索框的弹出内容 -->
  <div class="ui modal">
    <!-- 上半部分 -->
    <div class="header search-title-background search-title-center">
      <h3>搜索</h3>
    </div>
    <!-- 中部 -->
    <div class="image local-search col-flex">
      <div class="ui segment background-thin-yellow">
        <div class="ui action input row-flex">
          <input type="text" placeholder="搜索..." id="local-search-input">
          <button class="ui button" id="local-search-close">清空</button>
        </div>
        <div id="local-search-result" class="search-result overflow-y local-search col-flex"></div>
      </div>
    </div>
    <div class="actions background-thin-yellow">
      点击旁边阴影部分可以退出搜索
    </div>
  </div>
</div>
