<!-- 文章列表 -->
<div class="eleven wide column">
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less">
      <div class="ui segment background-thin-yellow border-background-less">
        <h2 class="ui center aligned icon header"><%- page.title %></h2>

        <!-- 分割线 -->
        <div class="ui divider title-divider"></div>
      </div>

      <%- partial('_partial/widget/commentBG')%>
      <div class="ui segment background-thin-yellow content border-background-less top-15"> <%- page.content %></div>


    </div>
  </div>


  <!-- 文章评论功能 -->
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less">
      <!-- 评论系统 -->
      <!-- 来必力 -->
      <% if (theme.livere.enable && page.comments){ %>
      <%- partial('_partial/widget/livere')%>
      <% } %>
      <!-- twikoo -->
      <% if (theme.twikoo.enable && page.comments){ %>
      <%- partial('_partial/widget/twikoo')%>
      <% } %>

    </div>
  </div>

</div>
