<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header') %>
  <%- partial('_partial/nav') %>
  <!-- 文章主体布局 -->
  <div class="ui container margin-top-30">
    <div class="ui grid">
      <%- body %>
      <%- partial('_partial/sidebar') %>
    </div>
  </div>
  <%- partial('_partial/footer') %>
  <!-- gototop按钮 -->
  <button class="gototop"><i class="arrow alternate circle up outline icon big font-thin-yellow"></i></button>
  <!-- semantic ui js资源 -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <%- partial('_partial/scripts/enlighter') %>
  <%- partial('_partial/scripts/echarts') %>
  <%- partial('_partial/scripts/gototop') %>
</body>

</html>
