<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- semantic UI 样式资源 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <%- css('css/Mycss.css') %>
  <title>首页</title>
</head>

<body>
  <!-- header -->
  <header class="ui segment attached background-deep-green border-none">
    <div class="ui container header-container grid">
      <div class="left floated six wide column">
        <h1 class="ui header font-thin-yellow">
          <div class="content">Nothinglin的个人博客 <div class="ui divider title-divider"></div>
            <div class="sub header font-thin-yellow">不积跬步无以至千里，后继才能薄发</div>
          </div>
        </h1>
      </div>
      <div class="right floated six wide column">
        <div class="ui content floated right">
          <div class="content ">
            <div class="sub header font-thin-yellow row-flex-right">
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/wechat.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/weibo.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/zhihu.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/jianshu.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/github.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/public.png') %>">
              </a>
              <a class="ui label margin-left-5">
                <img class="margin-2" src="<%- url_for('/img/rss.png') %>">
              </a>
            </div>
            <div class="ui divider title-divider"></div>
            <div class="sub header font-thin-yellow row-flex-right">
              <a class="ui label margin-left-5">
                友情链接
              </a>
              <a class="ui label margin-left-5">
                关于作者
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </header>

  <!-- 菜单导航栏 -->
  <div class="ui segment attached background-thin-yellow padding-less">
    <div class="ui container">
      <div class="ui menu border-background-less borderless">
        <a href="#" class="item menu-active">首页</a>
        <a href="#" class="item">文章列表</a>
        <a href="#" class="item">分类列表</a>
        <a href="#" class="item">标签列标</a>
        <a href="#" class="item">资讯</a>
        <a href="#" class="item">留言</a>
        <a href="" class="ui item right"><i class="icon search"></i></a>
      </div>
    </div>
  </div>



  <!-- semantic ui js资源 -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>
