<!-- 文章列表 -->
<div class="eleven wide column">
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less">
      <div class="ui segment background-thin-yellow border-background-less">
        <h2 class="ui center aligned icon header"><%- page.title %></h2>
        <div class="ui segment background-thin-yellow border-background-less">
          <!-- 文章info -->
          <div class="row-flex-center">
            <h5 class="header margin-left-right-10"><i class="address user icon"></i><%- page.author -%></h5>
            <h5 class="header margin-left-right-10"><i class="address calendar alternate outline icon"></i><%- date(page.date,"YYYY年MM月DD日") %></h5>
            <h5 class="header margin-left-right-10"><i class="address folder open outline icon"></i>
              <% if(page.categories.length){ %>
              <%- list_categories(page.categories, {
          										show_count: false,
          										style: 'none',
          										separator: ' ， ',
          										amount: 1
          								}) %>
              <% } else { %>
              <%= '未分类' %>
              <% } %></h5>
            <h5 class="header margin-left-right-10"><i class="address tag icon"></i>
              <% if(page.tags.length){ %>
              <%- list_tags(page.tags, {
          										show_count: false,
          										style: 'none',
          										separator: ' ， ',
          										amount: 2
          								}) %>
              <% } else { %>
              <%= '未设置标签' %>
              <% } %></h5>
          </div>
        </div>
        <!-- 分割线 -->
        <div class="ui divider title-divider"></div>
      </div>
      <div class="ui segment background-thin-yellow content border-background-less top-15"> <%- page.content %></div>


      <!-- 文章结尾处理 -->
      <div class="ui divider title-divider"></div>
      <div class="post-rating">
        <p>如果喜欢这篇文章，可以给作者评个份哦~</p>
        <!-- 评分 -->
        <% if(theme.widgetpack.enable) { %>
        <%- partial('_partial/widget/widgetpack') %>
        <% } %>
        <p class="extra-speaking">原文声明: "转载本站文章请注明作者和出处Nothinglin ，请勿用于任何商业用途"</p>
        <p>公众号：苦逼的学生仔</p>
      </div>
    </div>
  </div>

  <!-- 上一篇、下一篇 -->
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less page-prev-next">
      <% if(page.prev){ %>
      <a href="<%- url_for(page.prev.path) %>" title='<%- page.prev.title %>'>
        <span class="page-prev">上一篇</span>
      </a>
      <% } %>

      <% if(page.next){ %>
      <a href="<%- url_for(page.next.path) %>" title='<%- page.next.title %>'>
        <span class="page-next">下一篇</span>
      </a>
      <% } %>

    </div>
  </div>

  <!-- 文章评论功能 -->
  <div class="ui segment background-thin-yellow content">
    <div class="ui segment background-thin-yellow border-background-less">
      <!-- 评论系统 -->
      <% if (theme.livere.enable && page.comments){ %>
      <%- partial('_partial/widget/livere')%>
      <% } %>

    </div>
  </div>

</div>
