<!-- header -->
<header class="ui segment attached background-deep-green border-none">
  <div class="ui container header-container grid">
    <div class="left floated six wide column">
      <h1 class="ui header font-thin-yellow">
        <div class="content">Nothinglin的个人博客 <div class="ui divider title-divider"></div>
          <div class="sub header font-thin-yellow">不积跬步无以至千里，后继才能薄发</div>
        </div>
      </h1>
    </div>
    <div class="right floated six wide column">
      <div class="ui content floated right">
        <div class="content ">
          <div class="sub header font-thin-yellow row-flex-right">
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/wechat.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/weibo.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/zhihu.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/jianshu.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/github.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/public.png') %>">
            </a>
            <a class="ui label margin-left-5">
              <img class="margin-2" src="<%- url_for('/img/rss.png') %>">
            </a>
          </div>
          <div class="ui divider title-divider"></div>
          <div class="sub header font-thin-yellow row-flex-right">
            <a class="ui label margin-left-5">
              友情链接
            </a>
            <a class="ui label margin-left-5">
              关于作者
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
