<!-- header -->
<header class="ui segment attached background-deep-green border-none">
  <div class="ui container header-container grid  stackable">
    <div class="left floated six wide column">
      <h1 class="ui header font-thin-yellow">
        <div class="content">
          <a href="/" class="title-href"><%=theme.blogTitle.bigtitle%></a>
          <div class="ui divider title-divider"></div>
          <div class="sub header font-thin-yellow"><%=theme.blogTitle.subtitle%></div>
        </div>
      </h1>
    </div>
    <div class="right floated six wide column">
      <div class="ui content floated right">
        <div class="content ">
          <div class="sub header font-thin-yellow row-flex-right">
            <a href="#" class="ui label margin-left-5 wechat-link">
              <img class="margin-2" src="<%- url_for('/img/wechat.png') %>">
            </a>
            <div class="ui special popup">
              <img src="<%=theme.shareHref.wechat%>" alt="加我微信">
            </div>

            <a href="#" class="ui label margin-left-5 public-link">
              <img class="margin-2" src="<%- url_for('/img/public.png') %>">
            </a>
            <div class="ui special popup">
              <img src="<%=theme.shareHref.public%>" alt="加我微信">
            </div>

            <a href="<%=theme.shareHref.zhihu%>" class="ui label margin-left-5 zhihu-link">
              <img class="margin-2" src="<%- url_for('/img/zhihu.png') %>">
            </a>

            <a href="<%=theme.shareHref.jianshu%>" class="ui label margin-left-5 jianshu-link">
              <img class="margin-2" src="<%- url_for('/img/jianshu.png') %>">
            </a>

            <a href="<%=theme.shareHref.github%>" class="ui label margin-left-5 github-link">
              <img class="margin-2" src="<%- url_for('/img/github.png') %>">
            </a>


            <a href="<%=theme.shareHref.weibo%>" class="ui label margin-left-5 weibo-link">
              <img class="margin-2" src="<%- url_for('/img/weibo.png') %>">
            </a>


            <a href="<%=theme.shareHref.rss%>" class="ui label margin-left-5 rss-link">
              <img class="margin-2" src="<%- url_for('/img/rss.png') %>">
            </a>

          </div>
          <div class="ui divider title-divider"></div>
          <div class="sub header font-thin-yellow row-flex-right">
            <a href="/2021/06/28/推荐一款好用的文本编辑器Typora0/" class="ui label margin-left-5">
              友情链接
            </a>
            <a class="ui label margin-left-5">
              关于作者
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</header>
