<!-- 侧边栏 -->
<div class="five wide column">
  <!-- 文章目录 -->
  <% if(is_post()){ %>
  <%- partial('_partial/toc') %>
  <% } %>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">成就墙：</h4>
    </div>
    <!-- <p>这里是饼图文章统计，直观地展示文章的分类数目和其下的文章数~</p> -->
    <%- partial('_partial/widget/categories_charts') %>
  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">考研倒计时：</h4>
    </div>

    <%- partial('_partial/widget/countdowntimer') %>

  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">最新留言：</h4>
    </div>
    <!-- <p>这里是饼图文章统计，直观地展示文章的分类数目和其下的文章数~</p> -->
    <%- partial('_partial/widget/recent_comments') %>
  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">文章分类：</h4>
    </div>
    <div class="row-flex flex-wrap categories-lists">
      <% site.categories.each(function(item) { %>
      <a href="<%- url_for(item.path) %>" class="category-tab"><%=item.name%></a>
      <% }) %>
      <a class="category-tab" id="category-next" style="background:#F4A81E">更多</a>
    </div>
  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">文章标签：</h4>
    </div>
    <div class="row-flex flex-wrap tabs-lists">
      <% site.tags.each(function(item) { %>
      <a href="<%- url_for(item.path) %>" class="category-tab"><%=item.name%></a>
      <% }) %>
      <a class="category-tab" id="tab-next" style="background:#F4A81E">更多</a>
    </div>
  </div>

  <div class="ui segment background-thin-yellow">
    <div class="ui segment background-title-red padding-title">
      <h4 class="header ">订阅作者：</h4>
    </div>

    <div class="ui card margin-auto">
      <div class="image">
        <img src="<%- url_for('/img/subscribe.jpg') %>">
      </div>
    </div>
  </div>
</div>
<!-- 不要删，下面这两个不是多余的，它是文章列表和侧边栏布局的div结尾标签 -->
